body {
  font: Times New Roman;
  text-align: center;
  background-color: #FFFFCC;
}
h1 {
	border:3px outset silver; 
	background-color: #ADAD8B;
	padding: 5px 10px;
}
h2 {
	border:2px outset silver; 
	font-size: 16px;
	background-color: #ADAD8B;
	padding: 5px 10px;
}
label {
	font-size: 16px;
	padding: 5px 10px;
	text-align: center;
	
}
input {
  border-radius: 10px;
  border-color: silver;
  background-color: #ADAD8B;
  padding: 5px 10px;
  margin-top: 5px;
}
img {
	border: 2px solid grey;
	display: inline;
	float: center;

}

@media only screen and (max-width: 1000px) { 
  body, h1, h2, label, input {
	text-align: center;
	display: block;
    margin-left: auto;
	margin-right: auto;
	font-size: 75%;
  }
}
@media only screen and (min-width: 750px) { 
   body, h1, h2, label, input {
	text-align: center;
	display: block;
    margin-left: auto;
	margin-right: auto;
	font-size: 125%;
  }
}

.color_switch {
  background-color: grey;
  
}