body {
  font: Times New Roman;
  text-align: center;
  background-color: #FFFFCC;
}
h1 {
	border:3px outset silver; 
	background-color: #ADAD8B;
	padding: 5 px 10px;
}
h2 {
	border:2px outset silver; 
	font-size: 16px;
	background-color: #ADAD8B;
	padding: 5px 10px;
}
label {
	border:2px outset gold; 
	font-size: 16px;
	background-color: #ADAD8B;
	padding: 5px 10px;
}
input {
  border-radius: 10px;
  border-color: silver;
  background-color: #ADAD8B;
  padding: 5px 10px;
  margin-top: 5px;
}
img {
	border: 2px solid grey;
	display: inline;
	float: center;
	
}
