body {
  background-color: grey;
  font: Times New Roman;
  border: white; 
}
title {
	text-align: center;
	border-style: outset;
	border-color: orange;
	border-width: 5px;
}
h1 {
	
}
h2 {
	
}
label {
	
}
input {
	
}